<head>
    <style>
        body{
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: rgb(119, 7, 7);    
            background-color: rgb(255, 255, 255);
        }
    </style>
</head>
<body>

<h1>Email Verifizierung</h1>
<p>Danke das du den DiscordBot verwendest.</p>

<p>Verifizierungscode: {{code}}</p>

</body>